<h3>Start meditation</h3>
<form (submit)="startMeditation()" class="meditation-form">
  <mat-form-field class="fill meditation-input">
    <input
      matInput
      [(ngModel)]="walking"
      name="walking"
      placeholder="Walking"
      max="240"
      type="number"
      [disabled]="(posting$ | async)"
      >
  </mat-form-field>
  <mat-form-field class="fill meditation-input">
    <input
      matInput
      [(ngModel)]="sitting"
      name="sitting"
      placeholder="Sitting"
      max="240"
      type="number"
      [disabled]="(posting$ | async)">
  </mat-form-field>

  <p>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="(!sitting && !walking) || (posting$ | async)"
    >
      <mat-icon *ngIf="!(posting$ | async)">alarm_on</mat-icon>
      <mat-spinner *ngIf="(posting$ | async)" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
      Start session
    </button>
    <a mat-button (click)="sheetRef.dismiss()">Cancel</a>
  </p>
</form>