<mat-card>
  <mat-card-title>Broadcast Settings</mat-card-title>
  <mat-spinner *ngIf="loadingSettings"></mat-spinner>
  <form *ngIf="!loadingSettings" (submit)="updateLivestreamInfo($event)">
    <div class="flex">
      <mat-form-field class="fill">
        <textarea
          matInput
          matTextareaAutosize
          rows="10"
          name="inp-livestreaminfo"
          [(ngModel)]="livestreamInfo"
          placeholder="Information text displayed on livestream page"
        ></textarea>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loadingSubmit"
    >
      <mat-spinner
        *ngIf="loadingSubmit"
        [diameter]="22"
        [strokeWidth]="2"
        class="in-button-spinner">
      </mat-spinner>
      Update
    </button>
  </form>
</mat-card>

<div class="broadcast-list">
  <mat-card *ngFor="let broadcast of broadcasts">
    <mat-card-title>
      Created {{ broadcast.createdAt| amDateFormat:'YYYY-MM-DD HH:mm:ss' }}
    </mat-card-title>
    <mat-card-subtitle *ngIf="broadcast.started">
      <div>Started {{ broadcast.started| amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div>
      <div *ngIf="broadcast.ended">Ended {{ broadcast.ended| amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div>
      <div>Link: <b>{{ broadcast.videoUrl ? 'Yes' : 'No' }}</b></div>
    </mat-card-subtitle>

    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/admin/broadcasts/', broadcast._id]"
      >
        Edit
      </button>

      <button
        mat-raised-button
        color="warning"
        (click)="delete($event, broadcast)"
      >
        Remove
      </button>
    </mat-card-content>
  </mat-card>
</div>
