<mat-card>
  <form (submit)="sendMessage($event)" class="flex" [formGroup]="form">
    <a (click)="showEmojiSelect()" class="emoji-btn">
      <mat-icon>tag_faces</mat-icon>
    </a>
    <mat-form-field>
      <textarea
        matInput
        matTextareaAutosize
        name="message"
        formControlName="message"
        placeholder="Type message..."
        class="fill message-input"
        #messageInput
        #messageAutoSize="matTextareaAutosize"
        maxlength="1000"
        autocomplete="off"
        rows="1"
        (keydown.enter)="sendMessage($event)"
        (keydown.tab)="autocomplete($event)"
      ></textarea>
      <mat-hint align="end" *ngIf="messageInput.value.length > 0">{{ messageInput.value.length }} / 1000</mat-hint>
    </mat-form-field>
    <button mat-mini-fab type="submit" [disabled]="!messageInput.value || (posting$ | async)" title="Send message">
      <mat-icon *ngIf="!(posting$ | async)">send</mat-icon>
      <mat-spinner *ngIf="(posting$ | async)" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
    </button>
  </form>
</mat-card>