<mat-list-item>
  <img
    *ngIf="user"
    mat-list-avatar avatar
    meditated-recently
    [username]="user.username"
    [token]="user.avatarImageToken"
    [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]"
    [size]="40"
  >
  <img *ngIf="!user" mat-list-avatar avatar [size]="40">

  <h3 mat-line>
    <b *ngIf="user" class="name">
      <a [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]">
        {{ user.name }}
        <small class="username" *ngIf="user.username">@{{ user.username }}</small>
      </a>
    </b>
    <b *ngIf="!user">Deleted User</b>
    <flag [countryCode]="user?.country"></flag>
    <mat-icon class="edit-icon" *ngIf="edited" title="This post has been edited.">edit</mat-icon>
    <span class="fill"></span>
    <span class="time" *ngIf="timeAgo">
      {{ date | amTimeAgo }}
    </span>
    <span class="time" *ngIf="!timeAgo">
      {{ date | date }}
    </span>
  </h3>
  <p mat-line>
    <span class="text" [innerHTML]="text|emoji|linky:{twitter:false}|mentions"></span>
  </p>

  <ng-content mat-line></ng-content>
</mat-list-item>
