.my-appointment
  background: #009688

mat-panel-title
  align-items: center

mat-panel-description
  align-items: center

h3 a
  color: black
  text-decoration: none

.appointment-table
  th, a
    padding: 10px
    text-align: center
    margin-bottom: 5px

  th:first-child
    padding-left: 0

  a
    text-decoration: none
    display: block
    color: white

  .taken-appointment
    background: #f2dede
    color: black

  .free-appointment
    background: #fcf8e3
    color: black

  .admin-appointment
    cursor: pointer

  .admin-appointment:hover
    background: #d9534f

.primary-card
  background: #009688
  color: white
  font-weight: 300
  font-size: 16px

  a
    color: white
    font-weight: bold
    text-decoration: none

.appointment-username
  display: none

.appointment-taken
  display: inline-block

.appointment-row
  mat-icon
    cursor: pointer
    color: red

.notification-success
  display: flex

  span
    margin-left: 8px

@media screen and (min-width: 1000px)
  .appointment-table
    th, a
      padding: 15px
      margin: 5px

  .appointment-username
    display: inline-block

  .appointment-taken
    display: none

.appointment-list
  display: none

@media screen and (max-width: 800px)
  .appointment-table
    display: none

  .appointment-list
    display: block
