.hidden
  display: none

.answering /deep/ .mat-list-item
  background-color: rgba(0, 150, 136, .6)

.answered-at
  margin-top: 6px
  font-size: 12px
  opacity: .5
  font-style: italic

.button-area
  margin-top: 15px !important
  padding-bottom: 10px !important

.button-area button
  margin-right: 20px

mat-form-field /deep/ .mat-input-wrapper
  margin: 16px 0 22px 0


.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper
  max-width: 640px
  padding-bottom: 20px
  padding-left: 80px

@media (max-width: 720px)
  .video-wrapper
    padding-left: 0
